body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.app {
  margin: 20px;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

h1 {
  color: #00ffa6;
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo {
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding: 8px;
  background-color: #00ffa6;
  border: 5px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.completed {
  text-decoration: line-through;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.todo-input input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.todo-input button {
  background-color: #00ffa6;
  color: #000000;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 10px;
}



ul {
  list-style: none;
  padding: 0;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

ul li button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 3px 8px;
  cursor: pointer;
}
